html, body  {
	margin: 0;
    padding: 0;
}
body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/87/27/ba/8727bac54400536c15e01810cb418785.png");
    background-attachment: fixed; 
    background-position: center;  
    background-size: 100% 100%;
}
