html, body  {
	margin: 0;
    padding: 0;
}
body {
    background-image: url("B2.jpg");
    background-attachment: fixed; 
    background-position: center;  
    background-size: 100% 100%;
    background-opacity:0.1;
}

# Construction, Intro {
    width: 80%;
    border-bottom: 10px solid black;
    background-color: white;
    margin: auto;
    display: block;
    opacity: 0.5;
    margin-bottom: 50px;
}

#Links {
    width: 80%;
    border-bottom: 10px solid black;
    background-color: white;
    margin: auto;
    display: block;
    opacity: 0.5;
    margin-bottom: 50px;
}

#Social {
    width: 80%;
    border-bottom: 10px solid black;
    background-color: white;
    margin: auto;
    display: block;
    opacity: 0.5;
    margin-bottom: 50px;
}
